[Unit]
Description=Minecraft Server %i
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/minecraft/%i

# Solves the issue where the minecraft server will endlessly restart itself
# See https://askubuntu.com/questions/953920/systemctl-service-timed-out-during-start for more info
Type=forking
TimeoutSec=0

Restart=on-failure
RestartSec=5s

User=root

ProtectSystem=full
# Read only mapping of /usr /boot and /etc

NoNewPrivileges=false

# Set default memory values
Environment="MCMINMEM=512M" "MCMAXMEM=1024M" "SHUTDOWN_DELAY=5" "POST_SHUTDOWN_DELAY=10" "JAVA_PATH=/usr/bin/java" "JAR_NAME=server.jar" "STOP_CMD=stop"
# Change memory values in environment file
EnvironmentFile=-/opt/minecraft/%i/server.conf

ExecStart=/usr/bin/screen -dmS mc-%i ${JAVA_PATH} -Xmx${MCMAXMEM} -Xms${MCMINMEM} -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1 -Dusing.aikars.flags=https://mcflags.emc.gs -Daikars.new.flags=true -jar "${JAR_NAME}" nogui

ExecReload=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff \"reload\"\015'

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff \"${STOP_CMD}\"\015'
ExecStop=/bin/bash -c 'while ps -p $MAINPID > /dev/null; do /bin/sleep 1; done'

[Install]
WantedBy=multi-user.target
