[Unit]
Description=Minecraft Startup Service %i
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/minecraft/%i

# Solves the issue where the minecraft server will endlessly restart itself
# See https://askubuntu.com/questions/953920/systemctl-service-timed-out-during-start for more info
Type=forking
TimeoutSec=0

Restart=on-failure
RestartSec=5s

User=_Waiter

ProtectSystem=full
# Read only mapping of /usr /boot and /etc

NoNewPrivileges=false


ExecStart=/usr/bin/screen -dmS mc-%i ./start.sh
# Execute Minecraft Server Startup Script

ExecReload=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff \"reload\"\015'

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff \"${STOP_CMD}\"\015'
ExecStop=/bin/bash -c 'while ps -p $MAINPID > /dev/null; do /bin/sleep 1; done'

[Install]
WantedBy=multi-user.target
